.modal_view_product{
    display: flex;
    justify-content: space-between;
    //position: relative;
    height: 100%;
    >.modal_view_product_img{
        position: relative;
        >img{
            width: 320px;
            height: 340px;
            object-fit: cover;
        }
        >.chevron_left{
            position: absolute;
            top: 145px;
            font-size: 32px;
            cursor: pointer;
        }
        >.chevron_right{
            position: absolute;
            top: 145px;
            right: 0px;
            font-size: 32px;
            cursor: pointer;
        }
    }
    >.modal_view_product_details{
        width: 300px;
        >h2{
            color: white;
        }
        >.modal_view_product_details_product{
            font-size: 16px;
            color: white;
            >p{
                margin-top: 10px;
                >span{
                    color: rgb(138, 138, 138);
                    margin-left: 5px;
                }
            }

            >.quantite {
                display: flex;
                align-items: center;
                margin-top: 42px;
                >p {
                    color: rgb(138, 138, 138);
                    font-size: 20px;
                }
                >i {
                    color: white;
                    cursor: pointer;
                    margin-left: 10px;
                }
                >input {
                    background: transparent;
                    border: none;
                    border: 1px solid white;
                    width: 40px;
                    height: 30px;
                    //caret-color: transparent;
                    outline: none;
                    color: white;
                    padding-left: 13px;
                    margin-left: 10px;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0;
                    /* <-- Apparently some margin are still there even though it's hidden */
                }
                input[type=number] {
                    -moz-appearance: textfield;
                    /* Firefox */
                }
            }

            >.modal_prix{
                >span{
                    font-size: 25px;
                    color: #fe7600;
                    margin: 0px;
                }
            }

            >.ajouter_panier_single_instrument{
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
            }
        }
    }

    >button{
        position: absolute;
        background: transparent;
        border:none;
        right: 15px;
        top:10px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

}

.modal_view_product_produit_ajouter{
    >.produit_ajoute_succes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        color: #8a8a8a;
        text-transform: uppercase;
        >h2{
            font-size: 18px;
        }
        
        >i{
            font-size: 40px;
        }
    }

    >.img_details{
        display: flex;
        margin-top: 40px;

        >img{
            width: 167px;
            height: 167px;
        }
        

        >.img_details_p{
            width: 210px;
            margin-left: 20px;
            >h3{
                color: white;
            }

            >.marque_categorie{
                margin-top: 10px;
                >p{
                    color: #8a8a8a;
                    font-size: 16px;
                    span{
                        color: #fe7600;
                        text-transform: capitalize;
                    }
                }
            }
            >.quantite_total{
                margin-top: 15px;
                >p{
                    color: #8a8a8a;
                    text-transform: capitalize;
                    font-size: 16px;
                    >span{
                        color: #fe7600;
                        font-size: 16px;
                    }
                }
            }

            >.trait_horizontale{
                margin-top: 20px;
            }
        }
    }
    >.nombre_produit_panier{
        display: flex;
        align-items: center;
        color: #8a8a8a;
        margin-top: 80px;
        gap:20px;
        >i{
            font-size: 30px;
        }
        >h2{
            font-size: 16px;
        }
    }
    >.details_panier_inside{
        margin-top: 20px;
        >p{
            color: #8a8a8a;
            text-transform: capitalize;
            font-size: 16px;
            >span{
                color: #fe7600;
                margin-left: 10px;
            }
        }
    }
    >.commander_continuer_mes_achats{
        margin-top: 40px;
        >button{
            border:none;
            text-align: center;
            width: 204px;
            background: linear-gradient(135deg, #1e5799 0%, #207cca 0%, #fe6c00 0%, #feb400 100%);
            border-radius: 12px;
            padding: 14px 20px;
            color: white;
            cursor: pointer;
        }
        >a{
            text-align: center;
            width: 30%;
            margin: auto;
            background: white;
            border-radius: 12px;
            padding: 14px 20px;
            color: black;
            cursor: pointer;
            width: 130px;
            margin-left: 30px;
            &:hover {
                
            }
        }
    }
    >.cross_exist{
        position: absolute;
        top: 10px;
        color: white;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
    }
}