.cards_home_promotion_outside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    >.card_home_promotion {
        width: 385px;
        height: 580px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px 5px 0px;
        cursor: pointer;
        >.card_home_promotion_inside {
            >.nouveau_promotion_ {
                display: flex;
                height: 26px;
                margin-top: 5px;
                >h3 {
                    background: #f0a951;
                    padding: 2px 6px;
                    width: 20%;
                    font-weight: 400;
                    color: white;
                    margin-right: 20px;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                >span {
                    background: #f0a951;
                    padding: 2px 8px;
                    width: 20%;
                    font-weight: 400;
                    color: white;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            width: 90%;
            height: 90%;
            //background: red;
            >img {
                width: 100%;
                height: 306px;
                object-fit: contain;
            }
            >.cards_home_promotion_inside_price {
                position: relative;
                margin-top: 40px;
                transition: all 0.5 ease-in-out;
                width: 100%;
                height: auto;
                overflow: hidden;
                >.cards_home_promotion_inside_price_inside {
                    width: 100%;
                    height: 149px;

                    >strong{
                        opacity: 0.8;
                    }
                    >p{
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                >.cards_home_promotion_inside_price_ajout_panier {
                    position: absolute;
                    color: orange;
                    z-index: 0;
                    background: white;
                    width: 100%;
                    height: 149px;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >.cards_home_promotion_inside_price_ajout_panier_inside {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        >p {
                            text-align: center;
                            width: 50%;
                            margin: auto;
                            background: linear-gradient(135deg, #1e5799 0%, #207cca 0%, #fe6c00 0%, #feb400 100%);
                            border-radius: 12px;
                            padding: 14px 20px;
                            color: white;
                            cursor: pointer;
                            &:hover {
                                background: linear-gradient(135deg, #1e5799 0%, #207cca 0%, #fe6c00 100%, #feb400 0%);
                            }
                        }
                        
                        >.quick_full_view {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 50%;
                            margin: auto;
                            >a{
                                >img {
                                    width: 30px;
                                    height: 30px;
                                    cursor: pointer;
                                    opacity: 0.4;
                                    transition: all 0.3s ease-in-out;
                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                            >img {
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                opacity: 0.4;
                                transition: all 0.3s ease-in-out;
                                &:hover {
                                    opacity: 1;
                                }
                            }

                        }
                    }
                }
            }
            >.model{
                font-weight: bold;
                font-size: 16px;
                text-transform: capitalize;

            }
        }
    }

}